.logout-container1 {
  background-color: rgb(131, 131, 202);
  height: 100vh;
  padding-top: 10px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
