.bank-container3 {
  background-color: rgb(131, 131, 202);
  height: 100vh;
  padding-top: 10px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.login-button1 {
  background-color: transparent;
  border-radius: 10px;
  border-width: 1px;
  margin-top: 10px;
  border-color: #150b3e;
  width: 50px;
  height: 30px;
  font-family: "Roboto";
}

.input-label1 {
  font-family: "Roboto";
  font-size: 17px;
  margin-bottom: 10px;
}
.username-input-filed1 {
  width: 50%;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  height: 23px;
  border-color: #150b3e;
  border-width: 1px;
}
.password-input-filed1 {
  width: 50%;
  margin-left: 10px;
  border-radius: 10px;
  height: 23px;
  border-color: #150b3e;
  border-width: 1px;
}
